#loginBcg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loginOverlay {
  width: 100%;
  height: 100%;
}

#loginSection {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
}

.loginContainer {
  padding: 40px 20px 100px 20px;
  box-shadow: 0px 0px 15px 2px black;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #151515;
}
.loginContainer h2 {
  text-align: center;
  padding: 10px 0;
}

.loginFormField {
  padding-bottom: 10px;
  font-size: 20px;
}
.loginFormField label {
  display: block;
}
.loginFormField input {
  padding: 8px 10px;
  width: 90%;
  border-radius: 8px;
  outline: none;
}

.loginFormField:last-child {
  padding: 0;
}

#loginBtn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  position: relative;
  cursor: pointer;
  outline: none;
  color: #000;
  transition: all 0.5s;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#loginBtn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: all 0.5s;
}
#loginBtn:hover {
  border-radius: 15px 15px 0 0;
  background-color: #ffffff75;
}
#loginBtn:hover:after {
  height: 4px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  #loginSection {
    width: 90%;
  }

  .loginFormField label {
    font-size: 12px;
  }

  .loginFormField input {
    padding: 5px 10px;
  }
}
