body {
    background-color: #d0d0d0;
    color: black;
}

#settingsMenuInner{
	border: 1px solid #ada793 !important;
	color: #ada793;
}

#homeScreen .overlay {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	opacity: 0.4;
}

#socialMenu button {
	border: 1px solid #ffffff !important;
}

.menu-item, .menu-open-button {
	background: #ada794 !important;
}

.menu-item:hover {
	color: #ada794 !important;
}

#settingsMenuToggle {
	color: #ada794;
}

#settingsMenuToggle:hover {
	color: #795548;
}

/* --- About page --- */
#site-content .aboutContainerFlex .aboutHeading:after {
	background-color: #ada793;
	animation: initial;
}

#site-content .aboutContainerFlex .about_section_2 p i {
	color: #ada793;
}

#site-content .bar span {
	background-color: #ada793;
    background: initial;
    animation: initial;
}

/* --- Contact page --- */

#bodyBackground {
	background-image: url("img/desk_3.jpg");
}

#bodyBackground div {
	background-color: rgba(0,0,0,0.2);
}

#formWindow {
	height: -webkit-fill-available;
}

#formWindow .formContainer {
	position: absolute;
	top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    //background: url("img/tablet_3.png") no-repeat top left;
    background-color: #2a2529;
    background-size: 100% 100%;
    padding: 67px 35px 69px 36px;
    color: #ada793;
}

#formWindow .formContainer:before {
	content: "";
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
	background-color: #ada793;
	z-index: -1;
}

#formWindow .formContainer:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2a2529;
	z-index: -1;
    box-shadow: 0 0 12px 0px black;
}

#formWindow .formContainer h2 {
    text-align: center;
/*     margin-bottom: 10px; */
    padding: 10px 0 0 0;
    font-size: 30px;
    font-style: italic;
/*     color: #75732f; */
}

#formWindow .formContainer .formField input:not([type=submit]), textarea {
	background-color: #ffffff00;
    border-bottom: 1px solid #ada793;
    color: #cacaca;
    font-size: 15px;
}

#formWindow label, #formWindow i, #formWindow input, #formWindow textarea {
/* 	color: #75732f; */
}

.label-move{
	top: 0 !important;
	left: 5px !important;
	font-size: 15px !important;
}

.errorVal {
/* 	box-shadow: 0 0 12px 5px #e50707; */
/*     border-radius: 7px; */
	border-right: 1px dashed #e50707;
    border-left: 1px dashed #e50707;
    border-radius: 7px;
    color: #e50707;
}


.aboutContainerInfo {
	padding: 100px 0;
}

.wrapperTop {
	position: relative;
	background: url("img/businessBG_2.jpg") no-repeat top left;
	background-size: cover;
}

.wrapperBody:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#0f5d6b);
	opacity: .4; 
}

.wrapperBottom {
	position: relative;
	background: url("img/businessBG_4.jpg") no-repeat center fixed;
	background-size: cover;
}

.wrapperTop div.bar-wrap label {
	color: #dcdbdb;
}

/* Login */

#loginBcg {
	background: url("img/office.jpg") no-repeat left top; 
	background-size: cover;
}

.loginOverlay {
	background-color: rgba(0,0,0,0.5)
}

#loginSection {
	outline: solid 10px #ada793;
}

.loginContainer {
    background-color: #151515;
    color: #e1e1e1;
}

#loginBtn:after {
	background-color: #ada793;
}

#loginBtn:hover {
	color: #ada793;
	box-shadow: 0px -1px 10px 2px #ada793;
}






/* Projects */

.projectsContainer {
	outline: 15px solid #ada793;
}

.projectsContent:after, .projectsContent:before, .projectsHeading:after, .backToTop {
    background-color: #ada793;
}


















	