body {
    background-color: #d0d0d0;
    color: black;
}

#settingsMenuInner{
	border: 1px solid #ada793 !important;
}

#homeScreen .overlay {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	opacity: 0.4;
}

#socialMenu button {
	border: 1px solid #ffffff !important;
}

.menu-item, .menu-open-button {
	background: #ada794 !important;
}

.menu-item:hover {
	color: #ada794 !important;
}

#settingsMenuToggle {
	color: #ada794;
}

#settingsMenuToggle:hover {
	color: #795548;
}

/* --- Contact page --- */

#bodyBackground {
	background-image: url("../../themes/businessBoring/desk_3.jpg");
}

#bodyBackground div {
	background-color: rgba(0,0,0,0.2);
}

#formWindow {
	height: -webkit-fill-available;
}

#formWindow .formContainer {
	position: absolute;
	top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    background: url("tablet_3.png") no-repeat top left;
    background-size: 100% 100%;
    padding: 67px 35px 69px 36px;
    color: #6386ac;
}

#formWindow .formContainer h2 {
    text-align: center;
/*     margin-bottom: 10px; */
    padding: 10px 0 0 0;
    font-size: 30px;
    font-style: italic;
/*     color: #75732f; */
}

#formWindow .formContainer .formField input:not([type=submit]), textarea {
	background-color: #ffffff00;
    border-bottom: 1px solid #6386ac;
    color: #cacaca;
    font-size: 15px;
}

#formWindow label, #formWindow i, #formWindow input, #formWindow textarea {
/* 	color: #75732f; */
}

.label-move{
	top: 0 !important;
	left: 5px !important;
	font-size: 15px !important;
}

.errorVal {
/* 	box-shadow: 0 0 12px 5px #e50707; */
/*     border-radius: 7px; */
	border-right: 1px dashed #e50707;
    border-left: 1px dashed #e50707;
    border-radius: 7px;
    color: #e50707;
}

	