.homeTitleEffect {
	display: none;
}

#homeScreen .homeTitle {
	top: 25%;
}

.textMask {
  width: 100vw;
  height: 250px;
  z-index: 10;
}

svg {
  width: 100%;
  height: inherit;
}
svg text {
  text-anchor: middle;
}
svg #alpha {
  fill: #666666;
}
svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}
svg #subtitle {
  letter-spacing: 8px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
svg #base {
  fill: black;
  mask: url(#mask);
}

/*@keyframes alpha {
  50%{fill: #000;}
}*/
