#bodyBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#formWindow .formContainer form {
  text-align: center;
  overflow: hidden;
  padding: 10px;
}
#formWindow .formContainer .formField {
  margin-bottom: 15px;
  position: relative;
}
#formWindow .formContainer .formField input:not([type=submit]), #formWindow .formContainer .formField textarea {
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 3px;
  outline: none;
  transition: all 0.6s;
}
#formWindow .formContainer .formField input:not([type=submit]) {
  padding-left: 45px;
}
#formWindow .formContainer .formField label:not([for=message]) {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  font-size: 20px;
  font-style: italic;
}
#formWindow .formContainer .formField label {
  opacity: 1;
  transition: top 0.5s, left 1.5s, opacity 0.8s;
}
#formWindow .formContainer .formField textarea {
  min-height: 250px;
  resize: none;
  padding-top: 20px;
}
#formWindow .formContainer .formField label[for=message] {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 20px;
  font-style: italic;
}
#formWindow .input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

#loginSection {
  position: absolute;
  top: 0;
  left: 200px;
  background-color: #9a2020;
}

.formButton i {
  display: none;
}
