@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

#homeScreen {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#homeScreen #homeAnimation {
  position: absolute;
  z-index: 999;
}
#homeScreen .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#homeScreen .homeTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bodyBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#bodyBackground div {
  width: 100%;
  height: -webkit-fill-available;
}

#formWindow .formContainer form {
  text-align: center;
  overflow: hidden;
  padding: 5px;
}
#formWindow .formContainer .formField {
  margin-bottom: 15px;
  position: relative;
}
#formWindow .formContainer .formField input:not([type=submit]), #formWindow .formContainer .formField textarea {
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 3px;
  outline: none;
  transition: all 0.6s;
}
#formWindow .formContainer .formField input:not([type=submit]) {
  padding-left: 45px;
}
#formWindow .formContainer .formField label:not([for=message]) {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  font-size: 20px;
  font-style: italic;
}
#formWindow .formContainer .formField label {
  opacity: 1;
  transition: top 0.5s, left 1.5s, opacity 0.8s;
}
#formWindow .formContainer .formField textarea {
  min-height: 250px;
  resize: none;
  padding-top: 20px;
}
#formWindow .formContainer .formField label[for=message] {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 20px;
  font-style: italic;
}
#formWindow .input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
